<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="goodLuck"
        android:theme="@style/MyAppThemeWithBackground" >
        <activity
            android:name=".activity.WelcomeActivity"
            android:configChanges="keyboard|orientation|navigation|screenSize"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboard|orientation|navigation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.mytest.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GetRAndImeiActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".activity.DirTestActivity"
            android:label="@string/title_activity_dir_test"
            android:theme="@style/AppTheme" >
        </activity>
        <!-- 下面的label和logo，单独设置Activity的title和图标(左上角) -->
        <activity
            android:name=".activity.ViewPagerActivity"
            android:label="@string/title_activity_view_pager"
            android:logo="@drawable/apps_nest"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.test.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.NotificationActivity"
            android:label="@string/title_activity_notifycation"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".activity.NotificationCameraActivity"
            android:configChanges="keyboard|orientation|navigation|screenSize"
            android:label="@string/title_activity_camera"
            android:screenOrientation="sensor"
            android:theme="@style/center_float_dialog" >
        </activity>
        <activity
            android:name=".activity.SideslipActivity"
            android:logo="@drawable/apps_nest"
            android:label="@string/title_activity_sideslip"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.test.activity.MainActivity" />
        </activity>
    </application>

</manifest>